REVIEW_DATA_MODE=google
REVIEW_GOOGLE_CLIENT_ID=
REVIEW_ALLOWED_EMAIL=
REVIEW_DRIVE_FOLDER_ID=
REVIEW_MANIFEST_FILE_ID=
REVIEW_SPREADSHEET_ID=
REVIEW_SHEET_TAB=review_events
REVIEW_PREFETCH_MEMORY_MB=64
